ion-card {
    margin-bottom: 20px;
  }
  
  ion-avatar {
    width: 70px;
    height: 70px;
  }
  
  ion-label h2 {
    font-size: 1.2em;
    font-weight: bold;
  }
  
  ion-label p {
    color: gray;
  }
  
  ion-card-title {
    font-size: 1.4em;
    font-weight: bold;
  }
  
  ion-list-header {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 20px;
  }
  