<ion-tabs>

  <ion-tab-bar slot="bottom">


    <ion-tab-button tab="news">
      <ion-icon name="newspaper-outline"></ion-icon>
      <ion-label>News</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="business">
      <ion-icon name="bookmark-outline"></ion-icon>
      <ion-label>Business</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="">
      <ion-icon name="search-outline"></ion-icon>
      <ion-label>Capturar</ion-label>
    </ion-tab-button>


    <ion-tab-button tab="jobs">
      <ion-icon name="bookmark-outline"></ion-icon>
      <ion-label>Jobs</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="events">
      <ion-icon name="chatbubbles-outline"></ion-icon>
      <ion-label>Events</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>